body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

header{

background:#111827;
padding:20px;
text-align:center;

}

nav{

margin-top:10px;

}

nav a{

color:white;
margin:15px;
text-decoration:none;
font-weight:bold;

}

.hero{

text-align:center;
padding:100px;
background:#1e293b;

}

.hero h2{

font-size:42px;

}

.hero p{

color:#10b981;
font-size:22px;

}

button{

background:#10b981;
border:none;
padding:12px 25px;
color:white;
cursor:pointer;
font-size:16px;

}

.services{

text-align:center;
padding:70px;

}

.card{

background:white;
color:black;
display:inline-block;
padding:25px;
margin:20px;
width:260px;
border-radius:10px;

}

.pricing{

background:#020617;
padding:70px;
text-align:center;

}

.price-card{

background:white;
color:black;
display:inline-block;
padding:25px;
margin:20px;
width:220px;
border-radius:10px;

}

.price{

font-size:28px;
color:#10b981;

}

.calculator{

padding:70px;
text-align:center;

}

.calc-box{

background:white;
color:black;
width:320px;
margin:auto;
padding:30px;
border-radius:10px;

}

.calc-box input{

width:100%;
margin-bottom:10px;
padding:8px;

}

.contact{

text-align:center;
padding:70px;

}

.contact form{

max-width:400px;
margin:auto;

}

.contact input,
.contact select{

width:100%;
padding:10px;
margin-bottom:10px;

}

.dashboard{

padding:80px;
text-align:center;

}

.status{

color:#10b981;
font-weight:bold;

}

footer{

background:#020617;
text-align:center;
padding:20px;

}
